/node_modules
/public/hot
/public/css
/public/js
/public/storage
/public/images
/storage/*.key
/storage/medialibrary/*
/resources/js/svg.js
/vendor
/.idea
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log$
yarn-error.log
mix-manifest.json
.env*
!.env.example.vapor/
.env.production
.env.staging
.vapor